@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
.body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.maindiv {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 810px;
  margin: auto;
}
/* .second {
} */
.post {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
  line-height: 1.3;
}
.text1 {
  font-weight: bold;
  color: #1e212c;
  line-height: 1.5;
  font-size: 20px;
  text-shadow: none;
  margin-top: 48px;
}
.textfirst {
  font-weight: bold;
  color: #1e212c;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 60px;
}
.list {
  margin-top: 24px;
  padding-left: 32px;
}

.text2 {
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 24px;
}
.text4 {
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 48px;
}
.text5 {
  margin-top: 24px;
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
.mark {
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
.link1 {
  color: white;
  font-size: 20px;
}
.secondpage {
  border: 5px solid silver;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.keyboard {
  margin-top: 92px;
}
